*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  list-style: none;
  font-family: "GochiHand";
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(192, 164, 140);
  background-size: 100% 100%;
  background-attachment: fixed;
}
a {
  text-decoration: none;
}
