.logo {
    min-width: 20px;
    max-width: 50px;
    width: 10vw; 
    padding: 5px;
    margin: 0px 8px;
    border-radius: 10px;   

    background-image: url(../../assets/jpg/retazo-hoja-menu.jpg);
    background-position: center;
    background-attachment: local;
    box-shadow: 6px 6px 8px black;
        

}
.logo:hover{
    box-shadow: 6px 6px 8px violet;
}