<div class="chat">
    <div class="chat__box">
        {{#each messagesList}}
        <div class="chat__box--userMessage">
            <p>{{this.user}}:</p>
            <p>{{this.message}}</p>
        </div>
        {{/each}}
    </div>

    <form class="chat__postman">
        <input type="text" name="chatBox" class="chat__postman--letter" id="chatBox">
        <input type="button" value="Enviar">
    </form>
</div>
    <script> let user = "{{user}}"</script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/chatManager.js"></script>