<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>E-comerce</title>
</head>
<body>
         <header id="headerRoot">
            <div class="navBar">
                
                <button><a href="/views/prod">Home</a></button>
                <button><a href="/views/cart/658388103a44d83d3749d1d6">Al carrito</a></button>
                <button id="chatButton"><a href="/views/chatApp">Contacto</a></button>
                <div className='list__item' >


                    {{!-- <div className='item__button' value="pull" onClick=(() => {hasClass ? setHasClass (false) : setHasClass (true)}())>
                        <h1></h1>
                        <img id="Item__button--img"className="item_button__arrow--toggledIn" "item_button__arrow--toggledOut"src="" alt="Icono flecha del menu desplegable" />
                    </div>
                    <ul className="item__show" style={{height: menuHeight , overflow: menuOverflow}} id="desplegable" ref={nodoRef}>
                        {menuOptions.map(element => {
                            return (
                                <li className='item__show__option' key={element}> 
                                    <Link to={`/category/${element.toLowerCase()}`}>
                                        {`${element.toUpperCase()}`}                     
                                    </Link>
                                </li>  
                            )})
                        }
                    </ul> --}}
                </div>
            </div>
        </header>
    <div id="mainRoot">
   
        {{{body}}}
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/formManager.js"></script>
<script type="module" src="/js/eventListeners.js"></script>
</html>